@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    overflow:hidden;
    font-family: Georgia, serif;
}

html {
    scroll-behavior: smooth;
}
/* TELA INTEIRA */

.phone-screen{
    width:100vw;
    height:100vh;
    position:relative;
    perspective:2000px;
}

/* ENVELOPE */

.envelope{
    width:100%;
    height:100%;
    position:absolute;
    transform-style:preserve-3d;
    z-index:5;
}

.envelope-back{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        135deg,
        #ffffff,
        #ffffff
    );
}

.flap-top{
    position:absolute;
    width:100%;
    height:50%;
    top:0;

    background:#ffffff;

    clip-path:polygon(
        0 0,
        100% 0,
        50% 100%
    );

    transform-origin:top;
    transition:1.8s;
    z-index:10;
}

.flap-left{
    position:absolute;
    width:50%;
    height:100%;
    left:0;

    background:#636B2F;

    clip-path:polygon(
        0 0,
        100% 50%,
        0 100%
    );

    transform-origin:left;
    transition:1.5s;
}

.flap-right{
    position:absolute;
    width:50%;
    height:100%;
    right:0;

    background:#636B2F;

    clip-path:polygon(
        100% 0,
        0 50%,
        100% 100%
    );

    transform-origin:right;
    transition:1.5s;
}

.seal{
    position:absolute;
    width:85px;
    height:85px;

    background:
    radial-gradient(circle,
    #6d815d,
    #636B2F);

    border-radius:50%;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:
    0 15px 30px rgba(0,0,0,.25);

    z-index:50;
}

.seal span{
    color:white;
    font-size:24px;
    font-family: "Times New Roman", serif;
    font-weight:600;
    letter-spacing:2px;
}

.seal::before{
    content:"";
    position:absolute;
    inset:8px;
    border:2px solid rgba(255,255,255,.35);
    border-radius:50%;
}

.seal::before{
    content:"";
    position:absolute;
    inset:12px;
    border:2px solid rgba(255,255,255,.3);
    border-radius:50%;
}

/* ABRINDO */

.envelope.open .flap-top{
    transform:rotateX(-180deg);
}

.envelope.open .flap-left{
    transform:rotateY(-120deg);
}

.envelope.open .flap-right{
    transform:rotateY(120deg);
}

/* CONVITE */
.secao {
    background-image: url(/src/imgs/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
    height: min-content(100vh);
}

.monogram {
    padding: 3rem 2rem;
    font-size:3.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #636B2F;
}

.vers {
    text-align: center;
    margin-bottom: 4px;
}

.verss {
    text-align: center;
    margin-bottom: 2rem;
}
.names {
    text-align: center;
    font-family: "Parisienne";
    font-size:3rem;
    margin-bottom: 1rem;
    color: #636B2F;
}

.names h1 {
    margin: 0;
    line-height: 0.9;
}

.subtitle {
    text-align: center;
}

/* DATA */

.date-box{
    width:100%;
    max-width:500px;
    margin:45px auto;
}

.date-row{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
}

.side{
    flex:1;
    text-align:center;
    position:relative;
}

.side::before{
    content:'';
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:1px;
    background:#999;
    z-index:1;
}

.side span{
    background:#ffe6e6;
    padding:0 10px;
    position:relative;
    z-index:2;
    color:#666;
    font-size:18px;
}

.center-date{
    text-align:center;
    min-width:120px;
}

.center-date h2{
    font-family: "Cormorant Garamond", serif;
    font-size:90px;
    font-weight:400;
    line-height:0.9;
    color:#2d2d2d;
}

.center-date p{
    margin-top:5px;
    font-size:24px;
    color:#666;
}

.center-date .dia {
    color: #636B2F;
}


.icons-text {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-icones {
    font-size: 3.5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;

    a {
        text-decoration: none;
        color: #636B2F;
        margin: 0;
        padding: 1rem;
        border: solid 1px #636B2F;
        border-radius: 100px;
    }
}

.presente {
    background-color: #fff7eb;
}

.presente h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #000;
}

.presente-grids{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:2rem;
}

.presente-cards{
    position:relative;
    min-height:580px;
    overflow:hidden;
    background:#fff;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card-face{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    padding:25px;

    transition:.7s ease;
}

/* FRENTE */

.front{
    background:#fff;
}

.presente-imgs img{
    width:100%;
    max-width:250px;
    height:220px;
    object-fit:contain;
}

.front h3{
    margin-top:15px;
    color:#636B2F;
}

.preco{
    font-size:2rem;
    font-weight:bold;
    color:#9cac3a;
    margin:15px 0;
}

/* VERSO */

.back{
    background:#fff;
    transform:translateX(100%);
}

.presente-cards.active .back{
    transform:translateX(0);
}

.presente-cards.active .front{
    transform:translateX(-100%);
}

.qr-code{
    width:220px;
    margin-bottom:20px;
}

.pix-info{
    width:100%;
    margin-bottom:12px;
    text-align:left;
}

.pix-info strong{
    color:#636B2F;
}

.acoes{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.caridade,
.copiar-pix,
.voltar{
    border:none;
    cursor:pointer;
    border-radius:12px;
    padding:12px 25px;
    font-weight:600;
}

.caridade,
.copiar-pix{
    background:#636B2F;
    color:white;
}

.voltar{
    background:#e9e9e9;
}

.localizacao {
    h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--color3);
    }
}

.mapa {
    display: flex;
    justify-content: center;
}